export('miniCofactorReport')
export('createFPWM')
export('plotFPWM')
export('write.FPWM')
import('TFregulomeR')
import('ggplot2')
import('gridExtra')
import('gridGraphics')
import('ggseqlogo')
import('cowplot')
import('grid')
